.root{
    -fx-background-color: #464646;
    -fx-font: 11pt;
}
.label{
    -fx-text-fill: #44B8E3;
}
.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FEFFFF;
    -fx-background-radius: 20;
}
.buttonblue{
    -fx-background-color: #44B8E3;
    -fx-text-fill: #FEFFFF;
    -fx-background-radius: 20;
}
.text-input{
    -fx-control-inner-background: #464646;
}
.check-box .box {

-fx-background-color: #464646;;
-fx-border-color:grey;

}

.check-box:selected .mark {

-fx-background-color: #464646;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
}
